# Dependencias
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Entorno / secretos
.env
.env.*
!.env.example

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Builds
dist/
build/

# Comprimidos
*.zip
*.rar
*.7z